/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.filename-display-error {
    color: var(--text-error) !important;
    text-decoration: underline wavy var(--text-error);
    cursor: help;
}
